
.caixas {
    display: flex;
    justify-content: space-around;
}

.box {
    width: 150px;
    height: 150px;
    background-color: yellow;
}

.c1 { background-color: darkgreen;}
.cor-2 { background-color: black;}
.c3 { background-color: brown;}